<footer class="footer">
    <div class="container">
        <span class="text-muted">By: Ayman Alqoqa |</span>
        <span class="text-muted">Email: aalqouqa@gmail.com |</span>
        <span class="text-muted">Fly on WebDesign Sky</span>
    </div>
</footer>
